#############################
# Dependencies for the web application (frontend + backend)
# Execute all the commands below from the terminal
# Only needs to be set up once for a given device
#############################
pip install fastapi
pip install uvicorn
pip install sqlalchemy
pip install spacy

npm install react-router-dom
npm install react-swipeable-views --force
npm install @mui/material
npm install @emotion/react
npm install @emotion/styled
npm install @mui/icons-material
npm install recharts
npm install qs