.header-text {
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-align: center;
    justify-content: center;
    color: inherit;
    padding: 1vh 1vw;
}

.data {
    display: flex;
    justify-content: center;
    flex-direction: column;
}